{% extends 'base.html.twig'%}
{% block title %}- Visiteur{% endblock %}

{% block body %}

    <div class="authentication-theme auth-style_1">
            
            <div class="row">
                <div class="col-lg-5 col-md-7 col-sm-9 col-11 mx-auto">
                <div class="grid">
                    <div class="grid-body">
                        <div class="row">
                            <div id="connexion" class="col-lg-7 col-md-8 col-sm-9 col-12 mx-auto form-wrapper">
                                <img src="{{ asset("assets/images/logoGsb.png")}}" alt="logo" />
                                <br>
                                <br>
                                <a href="{{path("consulterFrais")}}" class="btn btn-primary btn-lg btn-block">Consulter Frais</a>
                                <a href="{{path("consulterFrais")}}" class="btn btn-primary btn-lg btn-block">Saisir Frais</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>



    
                        
                    
                             
   
{% endblock %}